body{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

#sidebar{
	position: fixed;
	line-height: 30px;
	background-color: #354F5B;
	width: 340px;
	height: 100%;
	float: left;
	padding: 10px;
	padding-top: 50px;
	text-align: center;
	color: #f1f1f1;
}

#sidebar .ico{
	margin-top: -10px;
	letter-spacing: 5px;
}

#title{
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	margin-left: 380px;
	margin-right: 20px;
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
}

#section{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	margin-left: 380px;
	position: relative;
	width: calc(100% - 460px);
	width: -moz-calc(100% - 460px);
	width: -webkit-calc(100% - 460px);
	float: left;
	padding: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 30px;
}

#section .note{
	text-align: right;
	color: #ADADAD;
}

#frontmenu{
	margin-left: -40px;
	margin-bottom: 10px;
	background: #E7EEF3;
	padding: 5px;
	padding-left: 10px;
	padding-right: 80px;
}

#frontmenu img{
	max-width: 40%;
}

#frontmenu a:hover{
	color: #3FA9E3;
	text-decoration: none;
}

greet{
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
	font-size: 30px;
	text-shadow: 4px 4px #22343C;
}

h2{
	color: #E38179;
}

img{
	border-color: #FFFFFF;
}
