@media only screen and (max-width : 2540px) {

body{
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

#sidebar{
	position: fixed;
	line-height: 30px;
	background-image: url("/img/sidebar_1.jpg");
	/*background-color: #7A9497;*/
	width: 15%;
	max-width: 271px;
	height: 450px;
	border: 1px solid #cfcfcf;
	border-radius: 10px;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	text-align: center;
	color: #f1f1f1;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:link,
#sidebar a:visited,
#sidebar a:active {
	text-decoration: none;
	color: #f1f1f1;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#sidebar .ico{
	margin-top: 250px;
	letter-spacing: 5px;
}

#sidebar span {
	background-color: #5A9B79;
	width: 100%;
	display: block;
	margin-top: 10px;
}

#sidebar .ico span {
	width: 100%;
	display: block;
	margin-top: 4px;
}

#content {
	margin: 30px auto;
	position: relative;
	width: 55%;
	padding: 10px;
	background: #ffffff;
	border: 2px solid #cfcfcf;
}

#title{
	font-family: 'PT Sans', sans-serif;
	/*position: relative;
	margin-left: 380px;
	margin-right: 20px;*/
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
}

#disqus_thread,
#section{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	/*margin-left: 380px;*/
	position: relative;
	/*width: calc(100% - 460px);
	width: -moz-calc(100% - 460px);
	width: -webkit-calc(100% - 460px);
	float: left;*/
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
}

#section .pagination {
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	color: #96DBB1;
}

#section .pagination a {
	color: #2CA089;
}

#section .pagination img {
	width: 20px;
}

#section .note{
	text-align: right;
	color: #ADADAD;
}

#section table {
	width: 95%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#section tr {
	border: 6px;
	border-color: transparent;
}

#section th {
	text-align: left;
	font-size: 20px;
	height: 40px;
	background-color: #7A9497;
	padding-top: 10px;
	padding-left: 10px;
}

#section td {
	border: 20px solid;
	border-collapse: collapse;
	border-color: transparent;
}

.highlight { 
  background-color: #efefef;
  overflow: hidden;
}
 
code {
  font-family:'PT Sans Mono', monospace;
  line-height: 16px;
}


#frontmenu{
	margin-left: 0px;
	margin-bottom: 10px;
	background: #E7EEF3;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#frontmenu img{
	max-width: 40%;
}

#frontmenu a:hover{
	color: #3FA9E3;
	text-decoration: none;
}

greet{
	font-family: 'PT Sans', sans-serif;
	color: #FFFFFF;
	font-size: 30px;
	/*text-shadow: 4px 4px #22343C;*/
}

h2{
	color: #E38179;
}

img{
	border-color: #FFFFFF;
}

#centering,
#centering img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mini img {
	width: 45%;
	height: auto;
	padding: 2px;
}

@media only screen and (max-width : 800px) { 

	#sidebar {
		position: relative;
		height: 60px;
		background-color: #FFFFFF;
		background-image: none;
		border-radius: 0;
		width: 100%;
		max-width: 100%;
		float: top;
		margin-top: 0;
		margin: 0;
		padding: 0;
	}

	#content {
		position: absolute;
		margin-top: 60px;
		width: 100%;
		padding: 0;
	}


}

@media only screen and (max-width : 300px) { 

	#sidebar {
		position: relative;
		height: 60px;
		background-color: #FFFFFF;
		background-image: none;
		border-radius: 0;
		width: 100%;
		max-width: 100%;
		float: top;
		margin-top: 0;
		margin: 0;
		padding: 0;
	}

	#content {
		position: absolute;
		margin-top: 60px;
		width: 100%;
		padding: 0;
	}


}
