  		
	</head>
  <body>
    <div id="sidebar">
   		<a href="/"><span style="height: 50px; line-height: 50px;"><greet>I Love Je</greet></span></a>
	<!--<a href="/"><img src="/img/YK_hex_small.png" border="0"></img></a> <br><br>
	   <greet>Je's side story</greet> <br>-->
 	   <br>
 	   <div class="ico">
	    <!--<a href="https://github.com/{{ site.author.github }}"><img src="/img/btn-git.png"></a>
	    <a href="https://twitter.com/{{ site.author.twitter }}"><img src="/img/ic_twitter.png"></a>
	    <a href="mailto:{{ site.author.email }}"><img src="/img/ic_gmail.png"></a>-->
	    <a href="https://github.com/{{ site.author.github }}" target="blank"><span style="background: #484848;">github</span></a>
 	   	<a href="https://twitter.com/{{ site.author.twitter }}" target="blank"><span style="background: #2F7697;">twitter</span></a>
 	   	<a href="mailto:{{ site.author.email }}" target="blank"><span style="background: #C35A5A;">email</span></a>
		</div>
 	
    </div>


